<h1> Calculator Controller</h1>

<form method="post" action="/calculator/index">
	Enter no1: <input type="number" name="a"/><br />
	Enter no2: <input type="number" name="b" /><br />
	<button name="b1" value="add"> Add</button>
	<button name="b1" value="sub"> Subtract</button>
	<button name="b1" value="mult"> Multiply</button>
	<button name="b1" value="div"> Divide</button>


</form>
<br /> 

@ViewBag.msg