<h1>Movie Ticket Booking</h1>

<p>Book your movie tickets easily with us.</p>

<ol>
    <li>Standard Ticket - $10</li>
    <li>Premium Ticket - $15</li>
    <li>VIP Experience - $25</li>
</ol>

<br />
Goto:
<a asp-controller="Movies" asp-action="Index">Index</a> |
<a asp-controller="Movies" asp-action="Showtimes">Showtimes</a> |
<a asp-controller="Movies" asp-action="Snacks">Snacks</a> |
<a asp-controller="Movies" asp-action="Cleaning">Cleaning</a>
