<h1>Movies</h1>

<p>Welcome to our movie section. Explore showtimes, book tickets, and enjoy your favorite snacks.</p>

<br />
Goto:
<a asp-controller="Movies" asp-action="Showtimes">Showtimes</a> |
<a asp-controller="Movies" asp-action="Booking">Booking</a> |
<a asp-controller="Movies" asp-action="Snacks">Snacks</a> |
<a asp-controller="Movies" asp-action="Cleaning">Cleaning</a>
