<h1>Showtimes</h1>

<p>Find the latest showtimes for all the blockbuster movies.</p>

<ol>
    <li>Morning Shows: 10 AM, 12 PM</li>
    <li>Afternoon Shows: 2 PM, 4 PM</li>
    <li>Evening Shows: 6 PM, 8 PM</li>
    <li>Night Shows: 10 PM, 12 AM</li>
</ol>

<br />
Goto:
<a asp-controller="Movies" asp-action="Index">Index</a> |
<a asp-controller="Movies" asp-action="Booking">Booking</a> |
<a asp-controller="Movies" asp-action="Snacks">Snacks</a> |
<a asp-controller="Movies" asp-action="Cleaning">Cleaning</a>
