<h1>Snacks</h1>

<p>Enjoy a variety of delicious snacks while watching your movie!</p>

<ol>
    <li>Popcorn - $5</li>
    <li>Soda - $3</li>
    <li>Nachos - $6</li>
    <li>Combo (Popcorn + Soda) - $8</li>
</ol>

<br />
Goto:
<a asp-controller="Movies" asp-action="Index">Index</a> |
<a asp-controller="Movies" asp-action="Showtimes">Showtimes</a> |
<a asp-controller="Movies" asp-action="Booking">Booking</a> |
<a asp-controller="Movies" asp-action="Cleaning">Cleaning</a>
