<h1>Offers</h1>

<p>Check out our latest discounts and promotions!</p>

<ul>
    <li>Flat 50% Off on Selected Brands</li>
    <li>Buy 1 Get 1 Free on Footwear</li>
    <li>Seasonal Clearance Sale</li>
</ul>

<br />
Goto:
<a asp-controller="Shopping" asp-action="Index">Index</a> |
<a asp-controller="Shopping" asp-action="Stores">Stores</a> |
<a asp-controller="Shopping" asp-action="Payments">Payments</a> |
<a asp-controller="Shopping" asp-action="CustomerService">Customer Service</a>
