<h1>Payments</h1>

<p>Choose your preferred payment method:</p>

<ul>
    <li>Credit/Debit Cards</li>
    <li>UPI Payments</li>
    <li>Mobile Wallets</li>
    <li>Cash on Delivery (For select purchases)</li>
</ul>

<br />
Goto:
<a asp-controller="Shopping" asp-action="Index">Index</a> |
<a asp-controller="Shopping" asp-action="Stores">Stores</a> |
<a asp-controller="Shopping" asp-action="Offers">Offers</a> |
<a asp-controller="Shopping" asp-action="CustomerService">Customer Service</a>
