<h1>Stores</h1>

<p>Discover a variety of stores inside our mall.</p>

<ul>
    <li>Clothing & Fashion</li>
    <li>Electronics & Gadgets</li>
    <li>Home & Living</li>
    <li>Sports & Fitness</li>
</ul>

<br />
Goto:
<a asp-controller="Shopping" asp-action="Index">Index</a> |
<a asp-controller="Shopping" asp-action="Offers">Offers</a> |
<a asp-controller="Shopping" asp-action="Payments">Payments</a> |
<a asp-controller="Shopping" asp-action="CustomerService">Customer Service</a>
