<h1>Games Controller, Games view</h1>

<p>We offer following games</p>
<ol>
	<li>Adult games like bouncing ball, cricket,etc.,</li>
	<li>Children Games</li>
	<li>Puzzle Games</li>
	<li>Party area games</li>
</ol>

<br />
Goto:
<a aso-controller="Games" asp-action="Index">Index</a> |
<a aso-controller="Games" asp-action="tickets">Tickets</a> |
<a aso-controller="Games" asp-action="Payments">Payments</a> |