<h1>Games Controller, Index View</h1>

<p>Games Controller landing page</p>

Goto:
<a aso-controller="Games" asp-action="tickets">Tickets</a> |
<a aso-controller="Games" asp-action="games">Games</a> |
<a aso-controller="Games" asp-action="Payments">Payments</a> |