<h1>Games Controller Payments View</h1>

<p>We accept all payments</p>
<ol>
	<li>Cash Payment</li>
	<li>Card Payment</li>
	<li>UPI Payment</li>
	<li>Online FT</li>
</ol>
<br />

Goto:
<a aso-controller="Games" asp-action="Index">Index</a> |
<a aso-controller="Games" asp-action="tickets">Tickets</a> |
<a aso-controller="Games" asp-action="games">Games</a> |
