<h1>Games Controller, tickets view</h1>

<p>We Provide following tickets</p>

<ol>
	<li>Tickets per game</li>
	<li>Tickets per hour</li>
	<li>Tcikets per day</li>
	<li>Tickets monthly pass</li>
</ol>
<br />

Goto:
<a aso-controller="Games" asp-action="Index">Index</a> |
<a aso-controller="Games" asp-action="games">Games</a> |
<a aso-controller="Games" asp-action="Payments">Payments</a> |