<h1>Billing</h1>

<p>Easy Billing </p>

<ol>
	<li>Flexible Payments</li>
	<li>Multiple Payment Methods (Credit/Debit, UPI, Digital Wallets)</li>
	<li>Fast and Secure Transactions</li>
	<li>Print and Digital Receipts Available</li>
</ol>

<br />
Goto:
<a asp-controller="FoodCourts" asp-action="Index">Index</a> |
<a asp-controller="FoodCourts" asp-action="Seating">Seating</a> |
<a asp-controller="FoodCourts" asp-action="Cleaning">Cleaning</a> |
