<h1> Cleaning</h1>

<p> Hygiene and Clean food courts </p>

<ol>
	<li>Fully trained cleaning staff</li>
	<li>Frequent Sanitisation </li>
</ol>

<br />
Goto:
<a asp-controller="FoodCourts" asp-action="Index">Index</a> |
<a asp-controller="FoodCourts" asp-action="Seating">Seating</a> |
<a asp-controller="FoodCourts" asp-action="Billing">Billing</a> |