<h1>Food Courts, Index Views</h1>

<p>
	Two Dedicated floors with 1500 seating capacity food courts with lake view</p>

	<ol>
		<li>MCD</li>
		<li>KFC</li>
		<li>Dominos</li>
		<li>Regular Meals</li>
	</ol>
<br />
Goto:
<a asp-controller="FoodCourts" asp-action="Seating">Seating</a> |
<a asp-controller="FoodCourts" asp-action="Cleaning">Cleaning</a> |
<a asp-controller="FoodCourts" asp-action="Billing">Billing</a> |