<h1> Food Courts Seating</h1>

<p> 1500 seating capacity for foodcourts</p>
<ol>
	<li>Comfortable Seating</li>
	<li>Lake View</li>
	<li>Indoor and Outdoor seating</li>
	
</ol>
<br />
Goto:
<a asp-controller="FoodCourts" asp-action="Index">Index</a> |
<a asp-controller="FoodCourts" asp-action="Cleaning">Cleaning</a> |
<a asp-controller="FoodCourts" asp-action="Billing">Billing</a> |