<h1> Postback - Ex04</h1>
<br />

<form method="post" action="/postback/ex04">
	<button name="b2" value="date">Date</button>
	<button name="b2" value="time">Time</button>
</form>
<br />
@ViewBag.msg
<br />

<a asp-controller="postback" asp-action="index">Index</a> |
<a asp-controller="postback" asp-action="ex01">Ex01</a> |
<a asp-controller="postback" asp-action="ex02">Ex02</a> |
<a asp-controller="postback" asp-action="ex03">Ex03</a> |
<a asp-controller="postback" asp-action="ex05">Ex05</a> |

