<h1>User Login View</h1>
<form method="post" action="/user/login">
Username: <input type="text" name="uname" /><br /> 
Password: <input type="password" name="pwd" /> <br />
<button>Login</button>
</form>
<br /> 

<p style="color:@ViewBag.color">@ViewBag.msg</p>
