<h1> Mall Security</h1>

<p> Mall is fully secured</p>
<ol>
	<li>Fully covered CCTVs</li>
	<li>Fully trained security guards in every floor</li>
	<li>Assistance from police via help</li>

</ol>
<br />
Goto:
<a asp-controller="home" asp-action="index">Index</a> |
<a asp-controller="home" asp-action="parking">Parking</a> |
<a asp-controller="home" asp-action="washrooms">Washrooms</a> |