<h1>Washroom Facility</h1>

<p>Dedicated washrooms in every floor</p>

fully hygenic and clean.
<br />
Goto:
<a asp-controller="home" asp-action="index">Index</a> |
<a asp-controller="home" asp-action="security">Security</a> |
<a asp-controller="home" asp-action="parking">Parking</a> |
