<h1> Close Account</h1>

Fill the details below to close the account: <br />

Account Number: <input type="number" /><br />
Security Pin: <input type="password" /><br />
<button>Submit</button>



Goto:
<a asp-controller="SavingsAccount" asp-action="Index">Back to Home</a>
<a asp-controller="SavingsAccount" asp-action="NewAccount">New Account</a>
<a asp-controller="SavingsAccount" asp-action="LoginAccount">Login Account</a>
