<h1>Bank Account Opening View</h1>

Fill the details to open an account. <br />

Name: <input type="text" /><br />
Phone number: <input type="text" /><br />
Address: <input type="text" /><br />
Type of account: <br />
<input type="radio" name="accounttype"/> Savings Account <br/>	
<input type="radio" name="accounttype" /> Current Account <br />
<br />


Goto:
<a asp-controller="SavingsAccount" asp-action="Index">Back to Index</a>
<a asp-controller="SavingsAccount" asp-action="LoginAccount">Login Account</a>
<a asp-controller="SavingsAccount" asp-action="CloseAccount">Close Account</a>